.chart{
    margin: 20px;
    background-color: rgba(29, 29, 30, 0.927);
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.chartTitle{
    color: rgba(255, 2, 2, 0.763);
    margin-bottom: 20px;
}