.userList{
    flex: 5;
    background-color: rgba(45, 45, 45, 0.826);
    margin-left: 10px;
    margin-right: 10px;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 32px;
    height: 32px;
    border: 2px solid;
    border-color: rgba(255, 2, 2, 0.763);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #fb1111ec;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListEdit:hover{
    background-color: white;
    color: #fb1111ec;
}

.userListDelete{
    color: red;
    cursor: pointer;
}

.userListDelete:hover{
    color: white;
}